---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Tierra2 — Buscando otros Galaxias!',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Soy Vambiro',
        href: 'https://www.instagram.com/reel/DGJnzJcJmXI/',
        target: '_blank',
        icon: 'tabler:bat',
      },
      { text: 'Saber más', href: '#quequierehuevito' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Únete a los <br> COSMONAUTAS <br>de la Tierra 2
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Tierra 2</span> 
        es un proyecto de exploración expasial, en búsqueda de Vambiros!
      </span>
    </Fragment>
  </Hero>



  <!-- CallToAction Widget *********** -->

  <CallToAction id="quequierehuevito"
    actions={[
      {
        variant: 'primary',
        text: 'Qué quiere Huevito',
        href: 'https://instagram.com/reel/DGrNboLJtTl',
        target: '_blank',
        icon: 'tabler:bat',
      },
    ]}
  >
    <Fragment slot="title">
      Huevito Sauez es Vambiro!
    </Fragment>

    <Fragment slot="subtitle">
      Si tú lo has visto frente a un espejo, y no aparece, es porque es Vambiroooo! Denúncialo aquí:
    </Fragment>
  </CallToAction>
</Layout>
